div.cent-j {text-align: center;
    vertical-align: middle;
    line-height: 90px;
 }
h1.cent-j1 {
padding-left: 70px;
}
table.subtitle {
padding-top: 300px;
width:600px!important;
margin-left: auto;
margin-right: auto;
font: bold;
font-size: large;
}
table.table-j {
width:600px!important;
margin-left: auto;
margin-right: auto;

}
div.div-table{
padding-bottom: 100px;
}