table.subtitle {
    padding-top: 300px;
    width:600px!important;
    margin-left: auto;
    margin-right: auto;
    font: bold;
    font-size: large;
}
div.table-style{
    width:1200px!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}